[submodule "apps/mg_proto/damsel"]
	path = apps/mg_proto/damsel
	url = git@github.com:petrkozorezov/damsel.git
[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
