%%%
%%% Copyright 2017 RBKmoney
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%

{deps, [
    {gproc,
        "0.8.0"
    },
    {consuela,
        {git, "https://github.com/rbkmoney/consuela", {branch, "ft/leader-sup"}}
    },
    {riakc,
        {git, "https://github.com/rbkmoney/riak-erlang-client", {branch, develop}}
    },
    {msgpack,
        {git, "https://github.com/msgpack/msgpack-erlang", {branch, master}}
    }
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin,
        [{deps, [{protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]
    },

    {override, protobuffs, [{deps, []}]},

    {override, riakc, [
        {erl_opts, [
            {d, namespaced_types},
            {d, deprecated_19}
        ]}
    ]},

    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "git://github.com/tsloughter/riak_pb_msgcodegen", {branch, "master"}}},
            {rebar3_protobuffs_plugin, {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [{pre, [{compile, {protobuffs, compile}}, {compile, riak_pb_msgcodegen}]}]}
    ]}
]}.
