{deps, [
    {gproc  , "0.6.1"},
    {riakc      , {git, "git@github.com:petrkozorezov/riak-erlang-client", {branch, develop}}},
    {msgpack    , {git, "git@github.com:rbkmoney/msgpack-erlang.git", {branch, master }}}
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin,
        [{deps, [{protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]
    },

    {override, protobuffs, [{deps, []}]},

    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "git://github.com/tsloughter/riak_pb_msgcodegen", {branch, "master"}}},
            {rebar3_protobuffs_plugin, {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [{pre, [{compile, {protobuffs, compile}}, {compile, riak_pb_msgcodegen}]}]}
    ]}
]}.
