{deps, [
    {gproc  , "0.5.0"},
    {riakc  , "2.4.1"},
    {pooler , "1.5.0"},
    {msgpack, "0.6.0"}
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin,
        [{deps, [{protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]
    },

    {override, protobuffs, [{deps, []}]},

    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "git://github.com/tsloughter/riak_pb_msgcodegen", {branch, "master"}}},
            {rebar3_protobuffs_plugin, {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [{pre, [{compile, {protobuffs, compile}}, {compile, riak_pb_msgcodegen}]}]}
    ]}
]}.
