{plugins, [
    {rebar3_thrift_compiler,
        {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.2"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {thrift, compile}},
        {clean  , {thrift, clean  }}
    ]}
]}.

{thrift_compiler_opts, [
    {in_dir, "damsel/proto"},
    {in_files, [
        "state_processing.thrift"
    ]},
    {gen, "erlang:app_prefix=mg"}
]}.
