{deps, [
    {lager                   , "3.2.1"},
    {lager_logstash_formatter, {git, "git@github.com:rbkmoney/lager_logstash_formatter.git", {branch, master}}},
    {rfc3339                 , {git, "git://github.com/talentdeficit/rfc3339.git"          , {branch, master}}},
    {genlib                  , {git, "https://github.com/rbkmoney/genlib.git"              , {branch, master}}},
    {woody                   , {git, "git@github.com:rbkmoney/woody_erlang.git"            , {branch, master}}}
]}.

{erl_opts, [
    {parse_transform, lager_transform}
]}.
