[
    {lager, [
        {log_root, "/var/log/machinegun"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file     , "log.json"              },
                {level    , info                    },
                {formatter, lager_logstash_formatter}
            ]},
            {lager_file_backend, [
                {file, "log.log"},
                {level, info    }
            ]},
            {lager_console_backend, info}
        ]}
    ]},
    {mg_woody_api, [
        {storage, mg_storage_memory},
        {namespaces, #{
            mg_test_ns => #{
                processor  => #{ url => <<"http://localhost:8022/processor">>, recv_timeout => 60000 },
                event_sink => <<"main_event_sink">>
            }
        }}
    ]}
].
