[
    {lager, [
        {log_root, "/var/log/machinegun"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file     , "log.json"              },
                {level    , info                    },
                {formatter, lager_logstash_formatter}
            ]},
            {lager_file_backend, [
                {file, "log.log"},
                {level, info    }
            ]},
            {lager_console_backend, info}
        ]}
    ]},
    {mg_woody_api, [
        {woody_server, #{
            ip     => "::",
            port   => 8022,
            limits => #{
                max_heap_size       => 262144,     % 2Mb (words)
                total_mem_threshold => 2147483648  % 2GB (bytes)
            }
        }},

        {storage, mg_storage_memory},
        % {storage,
        %     {mg_storage_riak, #{
        %         host => "{{ db_host }}",
        %         port => 8087,
        %         pool => #{
        %             init_count    => 100,
        %             max_count     => 100,
        %             cull_interval => {0, min}
        %         },
        %         pool_take_timeout => {5, 'sec'},
        %         connect_timeout   => 5000,
        %         request_timeout   => 10000
        %     }}
        % },
        {namespaces, #{
            <<"mg_test_ns">> => #{
                processor  => #{
                    url            => <<"http://localhost:8022/processor">>,
                    transport_opts => [{pool, mg_test_ns}, {max_connections, 100}, {recv_timeout, 60000}]
                },
                event_sink => <<"main_event_sink">>
            }
        }}
    ]}
].
